.buttons__grid {
    width: max-content;
    background-color: blue;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-auto-rows: 30px;
    gap: 5px;
}

.width-4 {
    grid-column: span 4;
}